<section id="about">
    <div class="container" data-aos="fade-up">
      <div class="row">
        <div class="col-lg-6">
          <h2>About The Website</h2>
          <p>Transengs was born in 2021 when two Hosts welcomed three guests to their San Francisco home, and has since 
            grown to 4 million Hosts who have welcomed more than 900 million guest arrivals in almost every country 
            across the globe. Every day, Hosts offer one-of-a-kind stays and unique 
            Experiences that make it possible for guests to experience the world in a more authentic, connected way.
          </p>
        </div>
        <div class="col-lg-3">
          <h3>Where</h3>
          <p>Alexandria, Egypt</p>
        </div>
        <div class="col-lg-3">
          <h3>When</h3>
          <p>Saturday to Saturday</p>
        </div>
      </div>
    </div>
  </section>