
<div class="bg_color_1">
  <div class="container margin_60_35">
    <div class="row">
      <div class="col-lg-8">

        <section id="reviews">
          <h2>Reviews</h2>
          <!-- <div class="reviews-container">
            <div class="row">
              <div class="col-lg-3">
                <div id="review_summary">
                  <strong>8.5</strong>
                  <em>{{Reviews[0].comment}}</em>
                  <small>Based on {{Reviews.length}} reviews</small>
                </div>
              </div>
              <div class="col-lg-9">
                <div class="row">
                  <div class="col-lg-10 col-9">
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" style="width: 90%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>
                  <div class="col-lg-2 col-3"><small><strong>5 stars</strong></small></div>
                </div>
                <div class="row">
                  <div class="col-lg-10 col-9">
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" style="width: 95%" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>
                  <div class="col-lg-2 col-3"><small><strong>4 stars</strong></small></div>
                </div>
                <div class="row">
                  <div class="col-lg-10 col-9">
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>
                  <div class="col-lg-2 col-3"><small><strong>3 stars</strong></small></div>
                </div>
                <div class="row">
                  <div class="col-lg-10 col-9">
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>
                  <div class="col-lg-2 col-3"><small><strong>2 stars</strong></small></div>
                </div>
                <div class="row">
                  <div class="col-lg-10 col-9">
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" style="width: 0" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>
                  <div class="col-lg-2 col-3"><small><strong>1 stars</strong></small></div>
                </div>
              </div>
            </div>
          </div> -->

          <hr>

          <div class="reviews-container">

            <div class="review-box clearfix" *ngFor="let item of Reviews">
              <div class="rev-content">
                <div class="rating">
                  <p-rating [(ngModel)]="item.rating" readonly="true" cancel [stars]="5"></p-rating>
                </div>
                <div class="rev-info">
                  {{item.userName}} - {{item.created | date :short}}
                </div>
                <div class="rev-text">
                  <p>{{item.comment}}</p>

                </div>
              </div>
              <hr>

            </div>
            <!-- /review-box -->

          </div>
          <!-- /review-container -->
        
        <!-- /section -->


            <!-- <div class="add-review">
              <h5>Leave a Review</h5>
              <form>
                <div class="row">
                  <div class="form-group col-md-6">
                    <label>Name and Lastname *</label>
                    <input type="text" name="name_review" id="name_review" placeholder="" class="form-control">
                  </div>
                  <div class="form-group col-md-6">
                    <label>Email *</label>
                    <input type="email" name="email_review" id="email_review" class="form-control">
                  </div>
                  <div class="form-group col-md-6">
                    <label>Rating </label>
                    <p-rating [(ngModel)]="val" [stars]="5"></p-rating> {{val}}

                    <div class="custom-select-form">

                    </div>
                  </div>
                  <div class="form-group col-md-12">
                    <label>Your Review</label>
                    <textarea name="review_text"  [(ngModel)]="PropertyReview.comment" id="review_text" class="form-control" style="height:130px;"></textarea>
                  </div>
                  <div class="form-group col-md-12 add_top_20">
                    <input type="submit" value="Submit" (click)="save(review)" class="btn_1" id="submit-review">
                  </div>
                </div>
              </form>
            </div> -->
            </section>
      </div>
    </div>

  </div>
</div>

