<section id="gallery">

  <div class="container" data-aos="fade-up">
    <div class="section-header">
      <h2>Gallery</h2>
      <p>Check our gallery from the recent activities</p>
    </div>
  </div>
  <div class="gallery-slider swiper-container">
    <div class="swiper-wrapper align-items-center">
      <div class="swiper-slide">
        <a href="assets/img/hotels/hawaii_hotel_palm_trees_swimming_pool_sea_flowers.jpg" class="gallery-lightbox">
          <img src="assets/img/hotels/hawaii_hotel_palm_trees_swimming_pool_sea_flowers.jpg"  class="img-fluid" alt="">
        </a>
       </div>




       <div class="swiper-slide"><a href="assets/img/hotels/hotel_mounting_skiing_resort_snow_light.jpg" class="gallery-lightbox"><img src="assets/img/hotels/hotel_mounting_skiing_resort_snow_light.jpg" class="img-fluid" alt=""></a></div>
      <div class="swiper-slide"><a href="assets/img/hotels/hotel_palm_pool.jpg" class="gallery-lightbox"><img src="assets/img/hotels/hotel_palm_pool.jpg" class="img-fluid" alt=""></a></div>
      <div class="swiper-slide"><a href="assets/img/hotels/hotel_reception_design_interior_design_project.jpg" class="gallery-lightbox"><img src="assets/img/hotels/hotel_reception_design_interior_design_project.jpg" class="img-fluid" alt=""></a></div>
      <div class="swiper-slide"><a href="assets/img/hotels/hotel_room_bed_canopy_table_chairs_lamps.jpg" class="gallery-lightbox"><img src="assets/img/hotels/hotel_room_bed_canopy_table_chairs_lamps.jpg" class="img-fluid" alt=""></a></div>
      <div class="swiper-slide"><a href="assets/img/hotels/hotel_room_bed_furniture_design_interior.jpg" class="gallery-lightbox"><img src="assets/img/hotels/hotel_room_bed_furniture_design_interior.jpg" class="img-fluid" alt=""></a></div>
      <div class="swiper-slide"><a href="assets/img/hotels/hotel_room_bed_stylish_modern.jpg" class="gallery-lightbox"><img src="assets/img/hotels/hotel_room_bed_stylish_modern.jpg" class="img-fluid" alt=""></a></div>
      <div class="swiper-slide"><a href="assets/img/hotels/hotel_room_lamp_style_interior.jpg" class="gallery-lightbox"><img src="assets/img/hotels/hotel_room_lamp_style_interior.jpg" class="img-fluid" alt=""></a></div>
    </div>
    <div class="swiper-pagination"></div>
  </div>


 

</section>