<footer id="footer">
  <div class="footer-top">
    <div class="container">
      <div class="row">

        <div class="col-lg-3 col-md-6 footer-info">
          <img src="assets/img/logo.png" alt="TheEvenet">
          <p>Transengs was born in 2021 when two Hosts welcomed three guests to their San Francisco home, 
            and has since grown to 4 million Hosts who have welcomed more than 900 million guest arrivals in 
            almost every country across the globe. Every day, Hosts offer one-of-a-kind stays and unique Experiences 
            that make it possible for guests to experience the world in a more authentic, connected way.
          </p>
        </div>

        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Useful Links</h4>
          <ul>
            <li><i class="bi bi-chevron-right"></i> <a href="#">Home</a></li>
            <li><i class="bi bi-chevron-right"></i> <a href="#about">About</a></li>
            <li><i class="bi bi-chevron-right"></i> <a href="#explore">Explore</a></li>
            <li><i class="bi bi-chevron-right"></i> <a href="#places">Places</a></li>
            <li><i class="bi bi-chevron-right"></i> <a href="#hotels">Hotels</a></li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Community</h4>
          <ul>
            <li><i class="bi bi-chevron-right"></i> <a href="#">Diversity & Belonging</a></li>
            <li><i class="bi bi-chevron-right"></i> <a href="#">Against Discrimination</a></li>
            <li><i class="bi bi-chevron-right"></i> <a href="#">Accessibility </a></li>
            <li><i class="bi bi-chevron-right"></i> <a href="#">Associates</a></li>
            <li><i class="bi bi-chevron-right"></i> <a href="#">Frontline</a></li>
            <li><i class="bi bi-chevron-right"></i> <a href="#">Guest Referrals</a></li>
            <li><i class="bi bi-chevron-right"></i> <a href="#">Gift cards</a></li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-6 footer-contact">
          <h4>Contact Us</h4>
          <p>
            1 Mahmoud Salamah, Kom Ad Dakah Gharb, Al Attarin <br>
            Alexandria<br>
            Egypt <br>
            <strong>Phone:</strong> +3 3906924<br>
            <strong>Email:</strong> https://identity.iti.gov.eg/<br>
          </p>

          <div class="social-links">
            <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
            <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
            <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
            <a href="#" class="google-plus"><i class="bi bi-instagram"></i></a>
            <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
          </div>

        </div>

      </div>
    </div>
  </div>

  <div class="container">
    <div class="copyright">
      &copy; Copyright <strong>Transengs</strong>. All Rights Reserved
    </div>
  </div>
</footer>