<div class="container margin_60_35">
  <div class="row">
    <div class="col-lg-8">
      <hr>
      <section id="description">
        <h3>{{title}}</h3>

        <agm-map class="map map_single add_bottom_30" [latitude]="lat" [longitude]="lng" >

          <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
        </agm-map>
        <!-- <div id="map" class="map map_single add_bottom_30"><iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13652.05386105063!2d29.9060892!3d31.19264!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x16cbff5d844ff34b!2z2YXYudmH2K8g2KrZg9mG2YjZhNmI2KzZitinINin2YTZhdi52YTZiNmF2KfYqiAtIElUSQ!5e0!3m2!1sar!2seg!4v1624666613285!5m2!1sar!2seg" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe></div> -->
        <!-- End Map -->
      </section>
    </div>

  </div>

</div>
